<footer class="footer">
  <div class="f_upper">
    <div class="container f_grid">
      <a href="index.html" class="f_logo-link">
        <img src="./img/logo.png" alt="">
      </a>

      <div class="f_col">
        <div class="f_title">Каталог</div>
        <ul class="check--list">
          <li><a href="catalog.html">Матрасы</a></li>
          <li><a href="catalog.html" class="active">Наматрасники</a></li>
          <li><a href="catalog.html">Подушки</a></li>
          <li><a href="catalog.html">Постельное белье</a></li>
        </ul>
      </div>

      <div class="f_col">
        <div class="f_title">Информация</div>
        <ul class="check--list">
          <li><a href="about.html">О компании</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>

      <div class="f_cts">
        <div class="col--phone">
          <a href="tel:+77086274818">+7 (708) 627 48 18</a>
          <a href="tel:+77776667172">+7 (777) 666 71 72</a>
        </div>
        <div class="col--location">
          <span>Алматинская область,
            пос. Кызыл Гайрат, ул. Конаева 27</span>
        </div>
        <div class="col--email">
          <a href="mailto:info@almatras.kz">info@almatras.kz</a>
        </div>
      </div>
    </div>
  </div>

  <div class="f_bottom">
    <div class="container flex spb center">
      <div class="copy">Copyright &copy; 2020 Almatras. All rights reserved</div>
      <div class="socials flex senter">
        <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
      </div>
      <div class="art-link">
        <a href="http://art-media.kz/" target="_blank">Создание сайта</a>
        <img src="./img/art.png" alt="">
      </div>
    </div>
  </div> 
</footer>